/* les styles du répo des cours et des exos JS - Pisola Colombbus */


body {
    background-color: lightblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* pour surligner le texte en jaune */
.stabilo {
    background-color: yellow;
}

code {
    color: red;
}

/* les titres */

h1 {
    background-color: pink;
    width: 50%;
    margin: auto;
    text-align: center;
}